@import "tailwindcss";

/* ------------------------------
   فونت وزیر - تعریف وزن‌ها
------------------------------ */
@font-face {
  font-family: 'Vazir';
  src: url('/src/assets/fonts/Vazir-Regular-FD.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/src/assets/fonts/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('/src/assets/fonts/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ------------------------------
   اعمال فونت پیش‌فرض روی کل صفحه
------------------------------ */
@layer base {
  body {
    font-family: 'Vazir', sans-serif;
  }
}
